{% extends 'kura_web/base.html' %}
{% block keywords %}
Kenyan,IIEC,open office, aptana studio, ubuntu
{% endblock keywords %}
{% block title %}
		About Kura
{% endblock title %}		
{% block contents %}
		<h1>About Kura</h1>
		<p>Constituency and polling station information was extracted from the PDF file distributed by IIEC from their site.</p>
		<p>This is a google app engine app. Some References used in implementing it are
		<ul>
			<li>
				<a href="http://www.42topics.com/dumps/django/docs.html">
				Using Django with Appengine
				</a>
			</li>
			<li><a href="http://thomas.broxrost.com/2008/04/08/django-on-google-app-engine/">
				Django on Google App Engine in 13 simple steps : Thomas Brox Røst
				</a>
			</li>
			<li>
				Google App Engine official docs
			</li>
		</ul>
		</p>
		<p>
			Tools used: Aptana studio, awk, Open Office (Calc), uniq, vi, etc on Ubuntu Lucid.
		</p>
		<p>Licensing: Open Source. Project to be hosted on github</p>
		<p>Contributors
		<ul>
			<li> Eric Njogu (bubujika [at] yahoo [dot] com) - <em>Did it for papa</em>.</li>
			</ul>
			</p>
{% endblock contents %}