{% extends 'kura_web/base-constituency-alphabet-count.html' %}
{% block title %}
        Constituencies - Alphabetical Grouping - L to Y
{% endblock %}

{% block list %}

        <ul>
<li ><a href="/constituencies/alphabetical/L/page/1/">L (13)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/M/page/1/">M (37)</a></li>
<li ><a href="/constituencies/alphabetical/N/page/1/">N (18)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/O/page/1/">O (2)</a></li>
<li ><a href="/constituencies/alphabetical/R/page/1/">R (5)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/S/page/1/">S (14)</a></li>
<li ><a href="/constituencies/alphabetical/T/page/1/">T (9)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/U/page/1/">U (2)</a></li>
<li ><a href="/constituencies/alphabetical/V/page/1/">V (2)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/W/page/1/">W (8)</a></li>
<li ><a href="/constituencies/alphabetical/Y/page/1/">Y (1)</a></li>
        </ul>
		<p>
			<a href="/constituencies/page/1">Constituencies A to K</a>
		</p>
{% endblock list %}

