{% extends 'kura_web/base-constituency-alphabet-count.html' %}
{% block title %}
        Constituencies - Alphabetical Grouping - A to K
{% endblock %}

{% block list %}
        <ul>
            <li class="odd"><a href="/constituencies/alphabetical/A/page/1/">A (4)</a></li>
<li><a href="/constituencies/alphabetical/B/page/1/">B (16)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/C/page/1/">C (4)</a></li>
<li><a href="/constituencies/alphabetical/D/page/1/">D (2)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/E/page/1/">E (7)</a></li>
<li><a href="/constituencies/alphabetical/F/page/1/">F (2)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/G/page/1/">G (11)</a></li>
<li><a href="/constituencies/alphabetical/H/page/1/">H (1)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/I/page/1/">I (6)</a></li>
<li><a href="/constituencies/alphabetical/J/page/1/">J (1)</a></li>
<li class="odd"><a href="/constituencies/alphabetical/K/page/1/">K (45)</a></li>
        </ul>
		<p>
			<a href="/constituencies/page/2">Constituencies L to W</a>
		</p>
{% endblock list %}
