{% extends 'kura_web/base.html' %}
{% block keywords %}
		Kenya, Constituency, polling stations,voting, IIEC, general election, parliament
{% endblock keywords %}
{% block title %}
		Kura Info
{% endblock title %}		
{% block contents %}
		<h1>Kura</h1>
		<p>Welcome to Kura information. This site has information on constituencies and polling stations as 
		used in the 2007 parliamentary and general election in Kenya. This information is extracted from an official document distributed by IIEC.
		</p>
		<p>This site is still under development and new interactive features will be added soon so that Kenyan voters
		can have voting information for use at their fingertips.
		Please find below links to specific information.
		</p>
		
{% endblock contents %}
{% block navigation %}
<p>
			<a href="/constituencies/page/1">Alphabetical Grouping</a> of constituencies and associated polling stations.
		</p>
		<p><a href="/about/">About</a> this website/application.</p>
{% endblock %}