{% extends 'kura_web/base.html' %}
{% block keywords %}
Constituency, polling station, directions
{% endblock keywords %}
{% block title %}
	{{ stn_name }}
{% endblock title %}
{% block contents %}
		<h1>{{ stn_name }} - {{ const_name }} - Directions</h1>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		{% if dirn_list %} 
		Directions to  {{ stn_name }}
		<ol>
			{% for direction in dirn_list %}
			<li>{{ direction.author }}</li>
			{{ direction.text }}
			{% endfor %}
		</ol>
		{% endif %}
		<p>
			<a href="{% url kura_web.views.add_pollstation_direction const_name=const_name, stn_name=stn_name %}">
			Add Directions
			</a>
		</p>
		<!--
		<h2>Add Direction</h2>
		
		<form action="/constituencies/{{ const_name }}/{{ stn_name }}/add-directions/" method="post">
			<textarea name="text" id="text" value=""></textarea>
			<label for="text"> Directions</label><br />
			<input type="text" name="author" id="author"/>
			<label for="author">Your Name</label><br />
		<input type="submit" value="Add"/>
		</form>
		
		<form action="{% url kura_web.views.add_pollstation_direction const_name=const_name, stn_name=stn_name %}" method="post">
			{{ form.as_p }}
			<input type="submit" value="Add"/>
		</form>
		-->
{% endblock contents %}